body{
		color:#7b6060;
}
article{
		color:#970004;
		border:solid 3px #970004;
		font-size:25px;
}
header{
		color:#ff4100;
		border:solid 3px #ff4100;
		font-size:
}
footer{
		color:#ffbb00;
		border:solid 3px #ffbb00;
		font-size:20px;
}
main{
  		color:#970004;
		border:solid 3px #970004;
		font-size:25px;
}
